.banner{
    width: screen;
    height: 300px;
    border: 1px solid black;
    margin: auto;
    background-image: url(kjjjj\ ysygng.gif);
    background-size: 100% 100%;
}

.aboutleft{
    width: 53%;
    float: left;
    margin-right: 7%;
    padding-top: 50px;
}

.aboutright{
    width: 40%;
    float: right;
    text-align: right;
    padding-top: 50px;
}